---
import Header from '../components/Header.astro';

const { email } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="/src/styles/output.css" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Header {email}/>
		<slot />
	</body>
</html>
