---
  import { get } from 'svelte/store'
  import { genresList, streamingProvidersList, starsList } from '../stores/stores.js'
  import DropdownCheckbox from './DropdownCheckbox.svelte'
  import Filterbox from './Filterbox.svelte'

  let genres = get(genresList)
  let streamings = get(streamingProvidersList)
  let stars = get(starsList)
---

<div class="container">
  <div class="filter-list">
    <DropdownCheckbox client:idle options={genres} label="Género" color="#25C2ED" />
    <DropdownCheckbox client:idle options={streamings} label="Plataforma de streaming" color="#F64F2B" />
    <DropdownCheckbox client:idle options={stars} label="Estrellas" color="#EDC32E"/>
  </div>
  <div class="selected-filters">
    <Filterbox client:idle/>
  </div>
</div>

<style>
  .container {
    margin-top: 20px;
    padding: 20px;
  }
  .selected-filters {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    width: 50%;
  }
</style>